:root {
  
  --main-cl: #4d5ae5;
	---ocean-cl: #404bbf;
	--navy-blue-cl: #2e2f42;
	--green-cl: #31d0aa;
	--slate-cl: #434455;
	--light-slate-cl: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud-cl: #f4f4fd;
	--navy-blue-modal-cl: #2e2f42;
	--grey-cl: #2e2f42;
	--white-cl: #ffffff;
	--dairy-cl: #fcfcfc;
}





.style {
  display: flex;
  align-items: center;
}

.header-container {
display: flex;
align-items: centers;
}

.container-nav-list {
display: flex;
align-items: center;
}

.header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);

}

.hero-wrap {
  background-color: #2e2f42; 
  border-radius: 30px; 
  padding: 380px 40px 40px 40px;


}

.hero {
  background-color: var(--navy-blue-cl) ;
}

.servise {
font-family: inherit;
background-color: var(--main-cl);
font-size: 16px;
color: var(--white-cl);
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
font-weight: 500;
 line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
display: block;
margin: 0 auto;


}

.servise:hover {
  background-color: #404BBF;
  
}

.servise:focus {
  background-color: #404BBF;
}


body {
  font-family: "Roboto", sans-serif; 
  color: var(--slate-cl); 
  background-color: #FFFFFF;
}


button {
  font-family:"Roboto", sans-serif;
  cursor: pointer;
  font-family: inherit;
}

.list {
list-style: none;
}
.link {
text-decoration: none;
}

p,h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
}

.header-logo-item {
  color: var(---ocean-cl);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}



.header-logo-text {
font-family: "Raleway", sans-serif;;
color: var(--main-cl);
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
margin-right: 76px;
font-weight: 800;
text-transform: uppercase;
display: inline-block;

}



.advantages { 
padding: 120px 0;
}
 
.section-web {
display: flex;
gap: 24px;

}

.menu-studio-web {
  display: flex;
  gap: 40px;
  
}

.menu-studio-link {
display: block;
}

.contact-adress-menu {
  display: flex;
  gap: 40px;
}

.header-logo-web:hover {
  color: var(--main-cl);
  background-color: #2e2f42;
}


.studio-web {
  color: var(--navy-blue-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  



.studio-web-contacts {
  color: var(--navy-blue-modal-cl); 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.studio-web-list::after {
content: ""; 
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: var(---ocean-cl);
border-radius: 2px;
width: 100%;

}

.studio-web-list {
  color: var(---ocean-cl); 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
}

.studio-web-link::after {
  content: ""; 
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: var(---ocean-cl);
border-radius: 2px;
width: 100%;

}

.studio-web:hover {
  color: var(---ocean-cl); 
}
.studio-web:focus {
  color: var(---ocean-cl);
}

.contact-adress-list {
  font-style: normal;
  margin-left: auto;
  
}

.studio-web-link {
 color: var(---ocean-cl); 
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.02;
 padding: 24px 0;
 display: block;
 position: relative;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.contact-adress-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-adress-malto {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-adress-malto:hover {
  color: var(---ocean-cl);
}

 
.contact-adress-malto:focus {
  color: var(---ocean-cl);

}

.contact-adress-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-cl);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-adress-mail:hover {
  color: var(---ocean-cl);
}

.contact-adress-mail:focus {
  color: var(---ocean-cl);
}




.hero-solution {
  font-family: "Roboto";
  color: var(--white-cl);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 484px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}




   
  .strategy-text-web {
    color: var(--navy-blue-cl);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
  }



   .strategy-hidden-text {
   color: var(--slate-cl); 
   font-size: 16px;
   letter-spacing: 0.02em;
   line-height: 1.5;
  
   }

  

  .what-doing-item {
    color: var(--navy-blue-modal-cl);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }

.team-strategy-item {
  color: var(--navy-blue-cl);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-strategy-web {
  color: var(--navy-blue-cl);
  font-size: 36px;
  line-height:1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  
}


.section-link {
display: flex;
gap: 24px;


}

.section-img {
  width: calc((100% - 48px) / 3);

}

.advantages-list {
/* width: calc((100% - 72px) / 4); */

}


.advantages-item-top {
display: flex;
align-items: center;
justify-content: center;
height: 112px;
background-color: var(--cloud-cl);
border-radius: 4px;
margin-bottom: 8px;
display: none;


}

  .footer-item {
  color: var(--cloud-cl);
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    max-width: 264px;
  }
  .header-logo-studio {
color: var(--cloud-cl) ;
text-transform: uppercase;
letter-spacing: 0.03em;
display: inline-block;
  }
  .header-logo-studio:hover {
    color: var(--main-cl);
  }
  

  .header-logo-hero {
    font-family: "Raleway", sans-serif;
    color: var(--main-cl);
    font-weight: 800;
    font-size: 18px; 
    line-height: 1.17;
    letter-spacing: 0.03em;  
    text-transform: uppercase;
    margin-bottom: 16px;
    display: inline-block;
    }

  .header-logo-content {
     color: var(--navy-blue-cl);
     
  
  }


.header-studio-content {
font-family: "Raleway", sans-serif;
color: var(--main-cl);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

  .header-studio-content:hover {
    color: var(---ocean-cl); 

  }

  .all-buton-class {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.04em;
    color:var(--main-cl);
    background-color: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
  }
  
  

  .all-buton-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-cl) ;
    background-color: var(---ocean-cl);
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
  }
    
  
.all-buton-class:hover {
  color: var(--white-cl);
  background-color: #404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.all-buton-class:focus {
  color: var(--white-cl);
  background-color: #404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


 

  .banking-app-interface {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-cl) ;
    margin-bottom: 8px;


}

  .app-text-interfase {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-cl);
    text-decoration: none;
    transform: translateY(0%);
  }

 .our-team-section {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

 }

 .container-class {
padding: 32px 0;


 }

 .team-strategy-team {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-cl);
  margin-bottom: 8px;
  text-align: center;
 
 }

 .team-section {
  display: flex;
  justify-content: center;
  gap: 24px;
 }

 .social-list {
width: 40px;
height: 40px;

 }

 .social-list-item {
width: 100%;
height: 100%;
background-color: var(--main-cl);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.social-list-item:hover {
  background-color: var(---ocean-cl);
}

.social-list-item:focus {
  background-color: var(---ocean-cl);
}

.social-icon-item {
fill: var(--cloud-cl);
}

 .section-class {
  background-color: #F4F4FD;
  padding: 120px 0;
 }

 .team-strategy-our {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color:  var(--navy-blue-modal-cl);
  margin-bottom: 72px;
 }

 .strategy-hidden-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-cl);
  margin-bottom: 8px;
  text-align: center;
 }


 .images {
  display: block;
 }


 .hero-list-style  {
  padding: 188px 0;
  background-color: var(--navy-blue-cl);
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/hero-img-min.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;

 }

 .section-strategy {
  padding-bottom: 120px;
 }
 
 .hero {
  padding: 100px 0;
 }
  

  
.portfolio-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

 

 .portfolio-section-link {
  padding-top: 96px;
  padding-bottom: 120px;
  border-radius: 4px;
 }



.portfolio-container-buton:focus {
  border: 1px solid transparent;
 }



.portfolio-container-wrap { 
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}


.portfolio-container-list  {
  display: block;
transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-list:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container-list:focus {
  box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container-list:hover .portfolio-cover-class {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-container-list:focus .portfolio-cover-class {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 transform: translateY(0%);

}



.portfolio-container-class{
  width: calc((100% - 48px) / 3)
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  
  
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-class {
position: absolute;
top: 0;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cloud-cl);
padding: 40px 32px;
background-color: var(--main-cl);
height: 100%;
transform: translateY(100%);
transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

img {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.media-social {
  font-weight: 500;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 color: var(--white-cl);
 margin-bottom: 16px;

}

.container-div {
display: flex;
  align-items: baseline;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  }

.container-social {
  margin-right: 80px;
  

}



.container-logo-portfolio {
  margin-right: 120px;

}
.container-hero {
margin-right: 120px;
}
.social-madia-web {
display: flex;
gap: 16px;


}

.media-web {
 width: 40px;
 height: 40px;

}

.media-web-content {
  height: 100%;
  background-color: var(--main-cl);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.media-web-content:focus {
  background-color: var(--green-cl);
}
.media-web-content:hover {
  background-color: var(--green-cl);
}

.social-icon {
  fill: var(--cloud-cl);
}

.section-class-customers {
  padding-top: 120px;
  padding-bottom: 120px;

}

.customers-class-link {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  text-align: center;
  color: var(--grey-cl);
  
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-link {
  width: calc(calc((100% - 120px) / 6));
  height: 88px;

}

.customers-class {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--light-slate-cl);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.customers-class:hover {
  border-color: var(---ocean-cl);
  background-color: var(---ocean-cls);
  color: var(---ocean-cl);
}

.customers-class:focus {
  border-color: var(---ocean-cl);
  color: var(---ocean-cl);
}

.social-icon-customers {
  fill: currentColor;
}

.bockdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition:  opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  gap: 8px;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 4px;
transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
padding: 72px 24px 24px 24px;
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover {
  background-color: var(---ocean-cl);
  border: none;
  fill: #ffffff;
}

.modal-close-btn:focus {
  background-color: var(---ocean-cl);
  border: none;
  fill: #ffffff;
}

.bockdrop-icon-close {
  
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--navy-blue-modal-cl);
  margin-bottom: 16px;

}

.modal-div {
  margin-bottom: 8px;
}

.label-form {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-cl);
  margin-bottom: 4px;
  display: block;
  
}



.modal-input {
  width: 100%;
  height: 40px;
  border:  1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
background-color: transparent;
padding-left: 38px;
outline: transparent;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.modal-input:focus {
  border-color: #4D5AE5;
}
.modal-input-text {
  position: relative;
  fill: #4D5AE5;
}

.modal-input::placeholder {
  font-size: 14px;
  color: teal;
}

.modal-icons {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}



.modal-icons-link {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}


.label-form-coments {
  margin-bottom: 16px;

}

.form-textarea {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  display: block;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
 transition:  border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.form-textarea:focus {
  border-color: #4D5AE5;
}

.modal-check-text {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--light-slate-cl);
}

.coment-input {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;


}

.input-coments {
  margin-bottom: 24px;
}



.modal-check:checked + .modal-check-text span  {
  background-color: var(---ocean-cl);
  border: none;
  fill: var(--cloud-cl);

}



.modal-check-link {
  color: var(--main-cl);
}

 
.modal-policy {
  font-family: inherit;
  background-color: var(--main-cl);
  font-size: 16px;
  color: var(--white-cl);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
   line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

.modal-policy:focus {
  background-color: var(---ocean-cl);
}

.modal-policy:hover {
  background-color: var(---ocean-cl);
}

.subscribe-footer {
  color: #ffffff;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.footer-form {
  display: flex;
  gap: 24px;
}

.label-form {
  gap: 24px;
}
.email-form {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  color: var(--white-cl);
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  }

  .email-form::placeholder {
    color: var(--white-cl);
  }

.button-form {
  min-width: 165px;
max-width: 165px;
height: 40px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
background-color: #4D5AE5;
border: none;
border-radius: 4px;

}

.bockdrop-icon-form {
  margin-left: 16px;
  fill: var(--white-cl);
}

.section-web {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}