

.header-logo-item {
  color: var(---ocean-cl);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
}



.hero-wrap {
  background-color: #2e2f42; 
  border-radius: 30px; 
  padding: 380px 40px 40px 40px;

}



 








.header-logo-web:hover {
  color: var(--main-cl);
  background-color: #2e2f42;
}


.studio-web {
  color: var(--navy-blue-cl);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  



.studio-web-contacts {
  color: var(--navy-blue-modal-cl); 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.studio-web-list::after {
content: ""; 
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: var(---ocean-cl);
border-radius: 2px;
width: 100%;

}

.studio-web-list {
  color: var(---ocean-cl); 
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    
}

.studio-web-link::after {
  content: ""; 
position: absolute;
left: 0;
bottom: -1px;
height: 4px;
background-color: var(---ocean-cl);
border-radius: 2px;
width: 100%;

}

.studio-web:hover {
  color: var(---ocean-cl); 
}
.studio-web:focus {
  color: var(---ocean-cl);
}



.studio-web-link {
 color: var(---ocean-cl); 
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.02;
 padding: 24px 0;
 display: block;
 position: relative;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.contact-adress-tel {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contact-adress-malto {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate-cl);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.contact-adress-malto:hover {
  color: var(---ocean-cl);
}

 
.contact-adress-malto:focus {
  color: var(---ocean-cl);

}




  

  .what-doing-item {
    color: var(--navy-blue-modal-cl);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
  }



.team-strategy-web {
  color: var(--navy-blue-cl);
  font-size: 36px;
  line-height:1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  
}








.advantages-item-top {

height: 112px;




}

 
  
  .header-logo-studio:hover {
    color: var(--main-cl);
  }
  

 

  .header-container {
    display: flex;
    align-items: centers;
    }
.header-studio-content {
font-family: "Raleway", sans-serif;
color: var(--main-cl);
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
margin-right: 76px;
}

  .header-studio-content:hover {
    color: var(---ocean-cl); 

  }

  .all-buton-class {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5 ;
    letter-spacing: 0.04em;
    color:var(--main-cl);
    background-color: #F4F4FD;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    
  }
  
  

  .all-buton-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--white-cl) ;
    background-color: var(---ocean-cl);
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
    
  }
    
  
.all-buton-class:hover {
  color: var(--white-cl);
  background-color: #404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.all-buton-class:focus {
  color: var(--white-cl);
  background-color: #404BBF;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


 

  .banking-app-interface {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--grey-cl) ;
    margin-bottom: 8px;


}

  .app-text-interfase {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--slate-cl);
    text-decoration: none;
    transform: translateY(0%);
  }

 

 


 

 .social-list {
width: 40px;
height: 40px;

 }

 .social-list-item {
width: 100%;
height: 100%;
background-color: var(--main-cl);
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

.social-list-item:hover {
  background-color: var(---ocean-cl);
}

.social-list-item:focus {
  background-color: var(---ocean-cl);
}

.social-icon-item {
fill: var(--cloud-cl);
}

 .section-class {
  background-color: #F4F4FD;
  padding: 120px 0;
 }

 

 


 

  
.portfolio-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

 

 .portfolio-section-link {
  padding-top: 96px;
  padding-bottom: 120px;
  border-radius: 4px;
 }



.portfolio-container-buton:focus {
  border: 1px solid transparent;
 }



.portfolio-container-wrap { 
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}


.portfolio-container-list  {
  display: block;
transition:  box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container-list:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container-list:focus {
  box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-container-list:hover .portfolio-cover-class {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0%);
}

.portfolio-container-list:focus .portfolio-cover-class {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
 transform: translateY(0%);

}



.portfolio-container-class{
  width: calc((100% - 48px) / 3)
}

.container-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  
  
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-cover-class {
position: absolute;
top: 0;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--cloud-cl);
padding: 40px 32px;
background-color: var(--main-cl);
height: 100%;
transform: translateY(100%);
transition:  transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

















